.landingpage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    height: 100vh;

    background-color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    
    background-color: white;
    height: 50px;
}

.sub-container {
    margin-right: 22px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;

}

.sub-container div {
    margin-right: 22px;
    font-size: 20px;
}

.navbar a {
    text-decoration: none;
    line-style: none;
    color: black;
}

.navbar a:hover {
    color: rgb(68, 120, 245);
}

.name-container {
    justify-self: flex-start;
    font-size: 20px;
    text-align: center;
    margin-left: 22px;
}

.about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    height: 100vh;
}

.projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    height: 100vh;
}
